<section>

  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p class="red"></p>
  <p class="green"></p>
  <p>NAME</p>
  <p>NAME</p>
  <p>NAME</p>
  <p>NAME</p>
</section>

<app-inline></app-inline>